<!DOCTYPE html>
<html ng-app="cjkApp">
<head>
	<meta charset='utf-8'>
	<title>CJK Decomposition</title>
	<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/d3.v3.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script type="text/javascript" src="js/graph.js"></script>
	<script type="text/javascript" src="js/parser.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<style>
		.link{
			fill: none;
			stroke: #ccc;
			stroke-width: 1.5px;
		}

		.circle{
			fill: white;
		}

		.text{
			text-anchor: middle;
			font-size: 15px;
			cursor: default;
		}

		#char {
			width: 16px;
		}

		svg {
			border: 1px solid #ddd;
		}
	</style>
</head>
<body>
	<div class="container" ng-controller="AppCtrl">
		<div class="row">
			<div class="span12">
				<h1>CJK Decomposition</h1>
				<form class="form-inline">
					Enter character:
					<input id="char" type="text" size="1" ng-model="hanzi" />
					<input id="submit" class="btn" type="button" ng-click="update(hanzi)" value="{{button_label}}" ng-disabled="!dataLoaded()" data-loading-text="Loading..."/>
				</form>
				<decomp-visualization/>
			</div>
		</div>
	</div>
</body>

</html>